/* Import foundation CSS files. */
@import url("lite/lite.css");
@import url("layout/layout.css");
@import url("layout/design.css");
@import url("tikinewt.css");

body {
	background-color: #ccc !important;
	text-align: center;
	font: 100% Verdana,Helvetica,Geneva,Arial,sans-serif;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

/* TikiHeading 1 (!) */
h1 {
	font-size : 22pt;
	color : #4d4d4d;
	font-weight: normal;
}
h2 {
	font-size : 15pt;
	color : rgb(38,34,97);
	font-weight: normal;
}
/* TikiHeading 3 (!!!) */
h3 {
	font-size : 11pt;
	color : black;
	font-weight: normal;
}
/* TikiHeading 4 (!!!!) */
h4 {
	font-size : 9pt;
	color : #666;
	font-weight: normal;
}

td {
	color: #000000;
    font-size: 11px;
    text-align: left;
    vertical-align: top;
}

a, a:link, a:visited {
    color: #597ABD;
    font-weight: bold;
    outline: medium none;
	text-decoration: none;
}

fieldset {
	border: 0px;
	padding: 0px;
}

textarea {
	width: 98%;
}

#sitesearchbar {
	padding: 2px;
}

div#main {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	background-color: white;
	margin: auto;
	width: 780px;
	border: 0px !important;
}

div#header-top {
	background-color: white;
	border-botton: 0px;
	position: relative;
}

div#customcode {
	margin-top: 21px;
	background-color: white;
	height: 129px;
}

img.logo {
	border : 0;
}

#idiomas {
	position: absolute;
	top: 4px;
	right: 8px;
	color: white;
}

img#borda_esquerda {
	position : absolute;
	top : 0;
	left : 0;
}

img#borda_direita {
	position : absolute;
	top : 0;
	right : 0;
}

#idiomas a {
	font-size : 10px;
	font-weight: normal;
	color : white;
	text-decoration : none;
	padding: 2px 5px;
	margin : 0;
	line-height : 21px;
}

a.idioma {
	background-color: #00a69c;
}

a.idioma:hover {
	background-color : #e02800;
}

a.idioma_ativo {
	background-color : #e02800;
}

a.pt-br {
        border-right: 1px solid #FFFFFF;
	background-image: url(pe/menu/borda_esquerda_verde.png);
	background-repeat: no-repeat;
	background-position : 0% 0%;
}

a.pt-br.idioma_ativo, a.pt-br:hover {
	background-image: url(pe/menu/borda_esquerda_laranja.png);
	background-repeat: no-repeat;
	background-position : 0% 0%;
}

a.eo {
        border-right: 1px solid #FFFFFF;
}

.en {
	background-image: url(pe/menu/borda_direita_verde.png);
	background-repeat: no-repeat;
	background-position : 100% 0;
}

#IEburro, a.en:hover {
	background-image: url(pe/menu/borda_direita_laranja.png);
	background-repeat: no-repeat;
	background-position : 100% 0;
}

a.IEburro {
	background-image : none; 
}

#busca label {
	font-size: 12px;
	font-weight: bold;
	color: #666;
}

#busca input {
	border-color:#DDDDDD #FFFFFF #FFFFFF #DDDDDD;
}

#login {
	position : absolute;
	top : 55px;
	right : 12px;
}

#login a {
	color : #bd0b3d;
	font-size : 11px;
	font-weight : normal;
}

#login a:hover {
	color : #fff;
}

.login {
	color: rgb(38,34,97);
	font-size: 13pt;
}

/*********************** BOXES **************************************************/

div.destaque {
	width : 200px;
        padding-top : 0px;
}

div.editorial {
	background-image : url(../styles/pe/editorial.jpg) ;
	background-repeat : no-repeat ;
	float : left;
	min-height : 135px;
}

div.editorial #conteudo {
	margin-top : 20px;
	margin-left : 12px;
	padding : 0 12px 8px 0;
	float : left;
	#margin-left : 6px;
}

.editorialimage {
	border: 3px solid white;
	outline-color : gray;
	outline-style : solid;
	outline-width : 1px; 
	float : left;
	margin-right : 5px;
	#border : 1px solid white;
}

div.article {
	padding : 10px;
	padding-bottom : 0;
	position: relative;
}

div.article #logo {
	position: absolute;
	top : -12px;
	left : 0px;
}

div.article #conteudo {
	z-index: 1;
	background : white;
	position: relative;
}

.box_home {
	font-size: 10px;
}

.box_noticias, .box_blog, .box_artigos {
	width : 300px;
	height : 130px;
	line-height: 14px;
}

.box_noticias #conteudo {
	margin: -2px 0 0 12px;
	width: 270px;
}

.box_noticias div#conteudo span.titlea a, div.articletitle h2 a {
	font-size: 15px;
} 

.box_blog #conteudo {
	margin: 8px 0 0 12px;
	width: 229px;
}

.box_artigos #conteudo {
	margin: 6px 0 0 15px;
	width: 241px;
}

div#conteudo span.titlea a, div.articletitle h2 a {
	line-height: 20px;
}

/* boxes cada um */

.box_noticias {
	clear : both;
	padding-top: 19px;
}

.box_video {
	text-align : justify;
	margin-top: 15px;
	float: right;
	width: 300px;
}

.box_blog {
	float: left;
	clear: left ;
}

.box_artigos {
	text-align : justify;
	float: left;
	clear: left;
}

.box_blog, .box_artigos {
	margin-bottom: 15px;
}

h3.box-title, {
    background-color: #F3F6F9;
    border-bottom: 1px solid #ACCCDD;
    font-size: 10px;
	font-weight: normal;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

/*********************** MENU PHPLayer ************************************/

#menu {
	position: absolute;
	left: 56px;
	top: 134px;
	vertical-align: middle;
	width: 570px;
}

#menu a {
	color: #666;
	text-decoration: none;
	padding-right: 10px;
	font-size : 12px;
	line-height: 16px;
}

div#menu .horbar table {
    width: 100%;
}

.horbaritem {
    border-right: 0px;
    padding: 0;
}

/* phplayers style */
a.phplm:link, a.phplm, a.phplm:hover, a.phplm:visited, .phplmnormal a, .phplmnormal a:hover, .phplmnormal a:visited {
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	color: #000000;
	font-size: 11px;
	cursor: pointer;
	font-weight: normal;
}
a.phplm:hover, .phplmnormal a:hover {
	background-color: transparent;
	text-decoration: underline;
}
#fgalexplorer #jt1 a.phplm, #fgalexplorer #jt1 a.phplm:hover, #fgalexplorer #jt1 a.phplm:link, #fgalexplorer #jt1 .phplmnormal, #fgalexplorer #jt1 .phplmnormal a:hover {
	color: #6996C3;
	text-decoration: none;
}
#fgalexplorer #jt1 .imgs:first-child, #fgalexplorer .treemenudiv > .imgs:first-child, #fgalexplorer .treemenudiv > a:first-child {
	display: none;
}
.box-data table {
	width : 100%;
	_width : 95%;
}
.mdkverbar  {
 	margin : 0px;
 }
.mdksubmenu {
	z-index : 999;
	position : absolute;
	left : 0;
	top : 0;
	background-color : #f8f8f8;
	visibility : hidden;
}
.mdksubmenu table {
	width : auto;
}
.mdksubframe  {
	position : relative;
	display : block;
	border : 1px solid #707070;
	border-top : 0;
}
.mdkitem {
	border-top : 1px solid #707070;
	position : relative;
	text-align : left;
	white-space : nowrap;
}
.mdkitem a  {
	color: #898989;
	padding : 2px 5px;
	position : relative;
	display : block;
	text-decoration: none;
	font-size: 10px;
}
.mdkitem a:visited  {
}
.mdkitem a:hover  {
	background-color : #bc0940;
	color: #fff;
}
.mdkitem a:active {
	background-color : #db8586;
}
.mdkitem .mdkfwdarr {
	position : absolute;
	top : 5px;
	right : 12px;
}



/******************************* MENU LATERAL ********************************/

#Menu_lateral a {
	padding : 2px 5px 2px 17px;
	display : block;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-size : 12px;
	line-height: 14px;
}

#Menu_lateral div {
	margin : 5px 0;
}

#Menu_lateral .icone_ativo a {
	background-image: url(pe/menu/branco.gif);
}

.box-Menu_lateral h3.box-title {
	display : none;
} 

.box-Banners {
	margin-top : 10px;
}

.icone {
	background-color:#E6E6E6;
}

.icone a {
	color : #666;
	background-position:4px 2px;
	background-repeat:no-repeat;
}

.icone a:hover {
	background-color: #b0b0b0;
	background-repeat: no-repeat;
	background-position: 4px 2px;
	color: #fff;
	text-decoration: none;
}

.icone_ativo a, .icone_ativo a:hover {
	color: white;
	background-position: 4px 2px;
	background-repeat:no-repeat;
}

.icone_ativo a:hover {
	text-decoration : none;
}

.icone_ativo#icone0 a {
	background-color: #f36018;
}

.icone_ativo#icone1 a {
	background-color: #a7de09;
}

.icone_ativo#icone2 a {
	background-color: #90278e;
}

.icone_ativo#icone3  {
	background-color: #fca263;
}

.icone_ativo#icone4 a {
	background-color: #55b7de;
}

.icone_ativo#icone5 a {
	background-color: #009345;
}

.icone_ativo#icone6 a {
	background-color: #448b9f;
}

.icone_ativo#icone7 a {
	background-color: #4c4c4c;
}

.icone_ativo#icone8 a {
	background-color: #262261;
}

.icone_ativo#icone9 a {
	background-color: #00685B;
}

#icone0 a {
	background-image:url(pe/menu/1.gif);
}

#icone1 a {
	background-image:url(pe/menu/2.gif);
}

#icone2 a {
	background-image:url(pe/menu/5.gif);
}

#icone3 a {
	background-image:url(pe/menu/6.gif);
}

#icone4 a {
	background-image:url(pe/menu/7.gif);
}

#icone5 a {
	background-image:url(pe/menu/8.gif);
}

#icone6 a {
	background-image:url(pe/menu/9.gif);
}

#icone7 a {
	background-image:url(pe/menu/10.gif);
}
#icone8 a {
	background-image:url(pe/menu/11.gif);
}
#icone9 a {
	background-image:url(pe/menu/0.gif);
}

div.box-search_new h3, div.box-Banners h3 {
	background-color: transparent;
	border: 0;
	font-family: Verdana, Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
	color : #666;
	margin : 16px 0 5px;
}

div.box-search_new input {
	margin : 0;
	padding : 0;
}

div.box-search_new #search_text_input {
	width: 75%;
}

div.box-search_new input#fuser {
	border : 1px solid #666;
	width : 120px;
	#width : 117px;
}

/*********************** GENERAL LAYOUT ************************************/
DIV#tiki-top > table {
	width: 100%;
}

#siteheader {
	text-align: center;
}

div#middle {
	margin: 0;
}

div#footer {
	padding-bottom : 0px;
	background-image : url(../styles/pe/barra_inf.png);
	background-position : 5px 10px;
	background-repeat : no-repeat;
}

#col2 {
	width : 150px !important;
	padding : 5px 0px 0px 0px;
	border-right : 0px;
}

#col2 .box {
	width: 142px;
	margin: 0 0 0 8px;
}

#col2 .content {
	padding: 0;
}

#wrapper {
	background-color: white;
	padding : 0;
}

div.box {
 	background-color : white;
 	overflow : hidden;
	margin-left : 8px;
	border : 0px;
	width : 142px;
 	font-size : 10px;
}

#c1c2 #wrapper .marginleft {
    margin-left: 160px;
}

#c1c2 #wrapper #col1 #tiki-center {
    background: none;
    border: 0px;
    margin: 0;
	padding: 8px 10px 0px 5px;
}

.linkmenu:hover {
	text-decoration : underline;
}

div.cbox-data {
	padding : 0 5px;
}

div.box-data {
	padding: 0px;
}

.fgallisting table td {
	padding-left: 2px;
	padding-right: 2px;
}

/* Fazendo a edição para página Tell_A_Friend */
td.formcolor {
	border-right: 0;
}
.campos {
	color: rgb(38,34,97);
	font-size: 13pt;
}	
td.entradas {
	background-color: white;
	border-left: 0;
	border-right: 1px solid #666666;
}

td.listartheading, td.viewthread, th.heading {
	background-color : #cfd0d2;
	border : 1px solid white;
 	padding : 0 2px;
	text-align: center;
}

a.fgalname { text-decoration: none; font-weight: normal; color: #000 !important; }

.thumbnamesub a.fgalname { color: #666 !important; }

.tableheading, .gallistheading, .listgalheading, .bloglistheading,
 .llisfgalheading, .llistfileslink, .llistart, .lforumheading {
	font-size: 13pt;
	color:#262261;
	text-decoration: none;
}

td.topicrepliesodd,td.topicreadsodd,td.topicscoreodd,td.topiclastpostodd,td.topicauthorodd, td.jukeboxlistnameodd,
 td.jukeboxdescriptionodd, td.jukeboxcreatedodd, td.jukeboxlastmodifodd, td.jukeboxlistuserodd, td.jukeboxlisttracksodd,
 td.jukeboxlistvisitsodd {
	border : 1px solid #666;
 	border-collapse : collapse;
	background-color : white;
 	vertical-align: middle;
}

td.topicreplieseven,td.topicreadseven,td.topicscoreeven,td.topiclastposteven,td.topicauthoreven, td.jukeboxlistnameeven,
 td.jukeboxdescriptioneven, td.jukeboxcreatedeven, td.jukeboxlastmodifeven, td.jukeboxlistusereven, td.jukeboxlisttrackseven,
 td.jukeboxlistvisitseven {
	border : 1px solid #666;
	background-color : white;
 	color : black;
 	border-collapse : collapse;
 	vertical-align: middle;
}

 /* When the page title is a link this is the style */
.pagetitle {
 	margin : 0 10px;
 	margin-bottom : 3px;
	font-size : 22pt;
	color : #4d4d4d;
	font-weight: normal;
	text-decoration: none;
}
 
.gallink, .bloglink, .fgallink, .trailer,
 .opencomlink, .commentslink, .admlink,.forumbutlink {
	color : #9e0000;
 	font-weight : normal;
 	padding : 0;
 }

.link {
	color : #587bbd;
	font-size : 10pt;
	font-weight : normal;
}
.permalink {
	color : red;
	font-size : 9pt;
	font-weight : normal;
}
 
a.prevnext {
	color: black;
	font-weight: normal;
}

DIV#page-bar {
	border-top: 0px;
}

DIV#page-bar table, DIV#page-bar td, DIV#page-bar tr {
 	margin: 0;
 	padding: 0;
}

div.wikitext {
	font-size : 12px;
	padding : 0px 0px 0px 0px;
 	clear : both;
 	width : auto;
	text-align:justify;
}

div.wikitext a {
    color: #597ABD;
    font-weight: bold;
    outline: medium none;
	text-decoration: underline;
}


/****************************************************** CMS ***************************************************************/


span.titlea, div.articletitle h2 {
	font-size : 15pt;
	font-weight : normal;
	color: rgb(38,34,97);
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
}

span.titlea a, div.articletitle h2 a {
	font-size : 15pt;
	font-weight : normal;
	color: rgb(38,34,97);
	text-decoration : none;
}

span.titleb,
 span.titleb:after {
 	font-size : 10px;
 	color : #666666;
	margin: 0px;
}

div.articleheading {
	margin : 5px 0px 5px 0px;
}

div.articleheadingtext {
	text-align : justify;
	font-size : 11px;
}

.articletrailer {
	margin: 0;
	border: 0;
	vertical-align: middle;
}

.highlight {
	background: none;
}

.articleimage {
	margin-right : 5px;
	border: 3px solid white;
	outline-color : gray;
	outline-style : solid;
	outline-width : 1px;
}

#power {
       font-family:arial,sans-serif;
       text-align: center;
       font-size: 7pt;
       padding-top: 15px;
}

.footerbgtrap {
	background: none;
	border: 0px;
	margin-bottom: 0px;
}

div#credits {
	display: none;
} 
